cloud_id                 = "b1ghu700dbbq4n3q365s"
folder_id                = "b1g0g2b4vn7b3ti080dn"
zone                     = "ru-central1-a"
image_id                 = "fd81hfronn9frkrr1gta"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
subnet_id                = "e9bn0n30bodgeai9eh6i"
service_account_key_file = "key.json"
instance_size            = "1"
app_disk_image           = "fd8tkpm2h0mjdmamsbbp"
db_disk_image            = "fd8259i5pec887scrmht"
environment              = "prod"
